---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - author
    - authors
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
eleventyComputed:
  title: "{{ tag | capitalize }}"
  description: "All posts from the Blog tagged with “{{ tag }}”"
---

<h1>{{ title }}</h1>

{% set postsList = collections[tag] %}
{% include "components/postsList.njk" %}

{% include "components/nav-back.njk" %}
