:root {
	--primary: #2e51ed;
	--secondary: white;
	--background: #f1f1f1;
	font-size: 1.2rem;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	line-height: 1.65;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

h1,h2,h3,h4,h5 {
	line-height: 1.25;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body > * {
	padding: 1em;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	   tab-size: 2;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav li {
	display: inline-block;
	margin: 0 1rem 0.25rem 0;
}

a[href][data-current="active"] {
	text-decoration: underline;
}

/* Posts List */
main > section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1rem;
	padding: 2rem 0;
}

main > article {
	max-width: 40rem;
	margin-bottom: 2rem;
}

article {
	background-color: var(--secondary);
	padding: 1rem;
	border-radius: 0.25em;
}

main > section article {
	display: grid;
	grid-template-rows: 1fr auto;
}

main > section article img {
	-o-object-fit: cover;
	   object-fit: cover;
	aspect-ratio: 3/2;
}

/* Post Tags */
a[rel="tag"] {
	text-transform: capitalize;
}
	

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}