<footer>
  <small>
    This project is maintained by <a href="{{ pkg.author.url }}">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
    <br>
    Last Build: {{ build.date }} with {{ eleventy.generator }}
    <br>
    <a href="/admin/">Login</a>
  </small>
</footer>
