<footer>
  <small>
    This project is maintained by <a href="{{ pkg.author.url }}">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
    <br>
    Build: {{ build.date }} with {{ eleventy.generator }}
  </small>
</footer>
